<%= render 'layouts/flash_messages' %>

<div>
  <h1 class="font-bold text-2xl">Update Password</h1>

  <div class="px-4 py-8 sm:px-0 max-w-md">
    <%= form_for(current_user, url: dashboard_account_update_path) do |f| %>
      <div class="space-y-6">
        <div>
          <%= f.label :password, class: 'label' %>
          <div class="mt-2">
            <%= f.password_field :password, required: true, autocomplete: "current-password", class: 'input' %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, class: 'label' %>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, required: true, autocomplete: "current-password", class: 'input' %>
          </div>
        </div>

        <div>
          <button type="submit" class="btn">
            Submit
          </button>
        </div>
      </div>
    <% end %>

  </div>
</div>
